@media (min-width: 768px) {
    .base-menu {
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
        &__restaurant {
            justify-content: center;
            gap: 20px;
        }
    }
    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 100px;
        padding: 50px 26px 30px 20px;
        &__ul {
            flex-direction: row;
            gap: 20px;
        }
    }
}