$main-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;

@import 'header/header';
@import 'components/button';
@import 'components/colors';
@import 'components/card';
@import 'index-layout/fonctionnement';
@import 'index-layout/reservation';
@import 'index-layout/restaurant';
@import 'footer/footer';
@import 'menu-layout/menu';

body {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

/****** Media Queries *******/

/* Tablettes (et plus) */
@media (min-width: 768px) {

}

/* Écrans de bureau */
@media (min-width: 1024px) {

}