.menu__card:nth-child(2) {
    animation-delay: 0.2s;
}

.menu__card:nth-child(3) {
    animation-delay: 0.4s;
}

.menu__card:nth-child(4) {
    animation-delay: 0.6s;
}

.menu__card:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes slidedown {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0px);
        opacity: 100%;
    }
}