.btn-rounded {
    border-radius: 25px;
}

.btn-rectangle {
    border-radius: 20px;
}

.btn-gradient {
    background: linear-gradient(0deg, $main-color -11.44%, $secondary-color 123.39%);
}

.btn-font {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.btn-commander {
    padding: 16px 47px 15px 48px;
    color: white;
    transition: box-shadow 0.3s ease, filter 0.3s ease;
    &:hover {
        box-shadow: 0px 4px 15px 0px #00000059;
        filter: brightness(1.10);
    }
}

.btn-shadow {
    box-shadow: 0px 4px 10px 0px #00000040;
}