.heart-checkbox {
    display: none;
}

.heart-container {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.heart-container .far {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
}

.heart-container .fas {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #FF79DA, #9356DC,);
    background-clip: text;
    color: transparent;
    clip-path: inset(100% 0 0 0); /* Masqué par défaut */
    transition: clip-path 0.4s ease-in-out;
    z-index: 1;
}

.heart-checkbox:checked + .far {
    opacity: 0;
}

.heart-checkbox:checked ~ .fas {
    clip-path: inset(0 0 0 0); /* Découvre progressivement de bas en haut */
}
